@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Candal&family=Dancing+Script:wght@400..700&family=Edu+TAS+Beginner:wght@400..700&family=Gruppo&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Marck+Script&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Rubik+Mono+One&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Candal&family=Dancing+Script:wght@400..700&family=Edu+TAS+Beginner:wght@400..700&family=Gruppo&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Marck+Script&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Rubik+Mono+One&family=Seymour+One&family=Unbounded:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}
/*LOGIN AND SIGNUP FORM CSS*/
.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 80px;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
form.sign-up-form {
  opacity: 0;
  z-index: 1;
}
form.sign-in-form {
  z-index: 2;
}
.title {
  font-size: 35px;
  color: #000;
  margin-bottom: 15px;
  font-family: "Unbounded", sans-serif;
}
.input-field{
  width: 340px;
  height: 50px;
  border-bottom: 2px solid black;
  margin:20px 5px;
  position: relative;
}
.input-field input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}
.input-field label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 600px;
  pointer-events: none;
  transition: .5s ease;
}
.input-field i{
  position: absolute;
  top:20px;
  right: 0;
  font-size: 19px;
}
.input-field-row {
  display: flex;
  justify-content: space-between;
  width: 340px; 
}
.input-field input:focus~label,
.input-field input:valid~label{
  top:-5px;
}
.social-text {
  padding: 11px 0;
  font-size: 16px;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-icon {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  color: #000;
  border-radius: 50%;
  border: 1px solid #000;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}
.social-icon:hover {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}
.submit{
  width: 340px;
  background-color: #fff;
  border:  3px solid black;
  outline: none;
  height: 50px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Gruppo", sans-serif;
}
.submit:hover {
  background-color: #000;
  color: #fff;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #000 0%, #000 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}
.image{
  width: 100%;
  height: 570px;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}
.left-panel {
  pointer-events: all;
  padding: 48px 170px 32px 96px;
}
.right-panel {
  pointer-events: none;
  padding: 48px 170px 32px 120px;
}
.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}
.panel h3 {
  font-size: 22px;
  font-family: "Unbounded", sans-serif;
}
.panel p{
  padding-bottom: 15px;
}
.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  border-radius: 50px;
  width: 150px;
  height: 45px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gruppo", sans-serif;
}
.transparent:hover{
  background: #fff;
  color: #000;
  transition: 0.5s;
}
.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}
/* ANIMATION */
.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}
.container.sign-up-mode .signin-signup {
  left: 25%;
}
.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}
.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}
.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}
.container.sign-up-mode .left-panel {
  pointer-events: none;
}
.container.sign-up-mode .right-panel {
  pointer-events: all;
}

