@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Candal&family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Marck+Script&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Rubik+Mono+One&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Candal&family=Dancing+Script:wght@400..700&family=Edu+TAS+Beginner:wght@400..700&family=Gruppo&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Marck+Script&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Rubik+Mono+One&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Candal&family=Dancing+Script:wght@400..700&family=Edu+TAS+Beginner:wght@400..700&family=Gruppo&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Marck+Script&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Rubik+Mono+One&family=Seymour+One&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/*//////////////////////PJESA E HEADER////////////////////////////*/
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    position: relative; 
    z-index: 1; 
}
.top-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.logo {
    text-align: center;
    flex-grow: 1;
    margin-left: 200px;
}
.logo a {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-family: "Zen Dots", sans-serif;
}
.icons {
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.icons i{
    color: #000;
    margin: 0 10px;
    position: relative;
    font-size: 22px;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}
.nav-links li {
    margin-left: 25px;
    position: relative;
}
.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: "Gruppo", sans-serif;
    font-weight: 600;
    position: relative;
}
.nav-links a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: transparent; 
    transition: background-color 0.8s ease; 
}
.nav-links a:hover:after {
    background-color: #000; 
}
.nav-links-black a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; 
    width: 100%;
    background-color: transparent; 
    transition: background-color 0.8s ease; 
}
.nav-links-black a:hover:after {
    background-color: #ffffff; 
}
.nav-links .down-arrow{
    width: 20px;
    height: 20px; 
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width:300px
}
.dropdown li {
    padding: 10px 10px;
}
.dropdown li a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.nav-links li:hover .dropdown {
    display: block;
}
/*//////////////////////PJESA E HOME////////////////////////////*/
/*slider part*/
.slide-bar .img {
    height: 100vh;
    background-image: url("../images/sld1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: slider 30s infinite;
}
@keyframes slider {
    0% {
        background-image: url("../images/sld1.jpg");
    }
    25% {
        background-image: url("../images/sld2.jpg");
    }
    50% {
        background-image: url("../images/sld3.jpg");
    }
    75% {
        background-image: url("../images/sld4.jpg");
    }
    100% {
        background-image: url("../images/sld5.jpg"); 
    }
}
/*card part*/
.wrapper{
    padding: 10px 10%;
}
#card-area{
    padding: 50px 0;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 15px;
}
.box {
	position: relative;
	overflow: hidden;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    height: 450px;
    border-radius: 4px;
}
.box img{
    width: 100%;
    height: 450px;
    display: block;
    transition: transform 0.5s;
}
.overlay {
	width: 100%;
	height: 0;
	background: linear-gradient(transparent,#e2dede 95%);
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 60px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.overlay h3 {
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 80%;
	font-size: 32px;
	letter-spacing: 2px;
    color: #fff;
    font-family: "Unbounded", sans-serif;
}
.overlay a {
	margin-top: 10px;
	color: #fff;
    background-color: #000;
	text-decoration: none;
	font-size: 18px;
	border-radius: 50px;
	text-align: center;
	padding: 15px 20px;
    font-family: "Gruppo", sans-serif;
}
.overlay p{
    color: #fff;
}
.box:hover img{
    transform: scale(1.1);
}
.box:hover .overlay{
    height: 100%;
}

/*text and img part*/
 :root {
    --btn-color: #000000; 
}
.quality {
    padding: 0rem 7%;
    height: 100vh;
    background-image: linear-gradient(60.34deg, white 52.45%, var(--btn-color) 52.45%);
}
.main-quality {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: nowrap; 
    gap: 15px;
}
.main-inner-quality {
    flex: 1;
}
.quality-content {
    padding: 0 4rem;
}
.quality-content h1 {
    color: #000;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 15px;
    font-family: "Dancing Script", cursive;
}
.quality-content p {
    color:#000;
    font-size: 15px;
    line-height: 30px;
}
.quality-image {
    width: 100%;
}
.quality-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/*Slider e best sellers product part*/
section {
    position: relative;
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 100px;
  }
  .bestsellers-text{
    text-align: left;
    margin-top: 80px;
    padding-left: 150px;
  }
  .bestsellers-text h1{
    color: #000;
    font-size: 34px;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;
  }
  .swiper {
    width: 80%;
  }
  .swiper-slide {
    width: 80%; 
    max-width: 300px; 
    height: 450px !important; 
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    background-size: cover;
    background-position: center; 
  } 
  .swiper-slide-active {
    filter: blur(0px);
  }
  .swiper-slide h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
    font-family: "Unbounded", sans-serif;
  }
  .swiper-slide p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
  }
  .swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../images/bestsell1.jpg")no-repeat center/cover;
  }
  .swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("../images/bestsell2.jpg")no-repeat center/cover;
  }
  .swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("../images/bestsell3.jpg")no-repeat center/cover;
  }
  .swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("../images/bestsell4.jpg")no-repeat center/cover;
  }
  .swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("../images/bestsell5.png")no-repeat center/cover;
  }
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }
/*//////////////////////FOOTER////////////////////////////*/
  .main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: #fff;
}
footer {
    position: relative;
    width: 100%;
    background: #000;
    min-height: 230px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    z-index: 2;
}
footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li {
    list-style: none;
}
footer .social_icon li a {
    font-size: 30px;
    color: #fff;
    margin: 0 20px;
    display: inline-block;
    transition: 0.5s;
    padding-top: 19px;
}
footer .social_icon li a {
    transform: translateY(-10px);
}
footer .menu li a {
    font-size: 18px;
    color: #fff;
    margin: 0 20px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    text-transform: uppercase;
    font-family: "Gruppo", sans-serif;
    font-weight: bolder;
}
footer .menu li a:hover {
    opacity: 1;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
    font-family: "Gruppo", sans-serif;
}
footer h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "Zen Dots", sans-serif;
    padding-bottom: 15px;
    font-weight: 300;
}
footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff url(../images/footer.png);
    background-size: 1000px 100px;
}
footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 3s linear infinite;
}
@keyframes animatewave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}
.zoom li a {
    transition: 1s;
}
.zoom li a:hover {
    transform: scale(1.1);
}
/*//////////////////////PJESA E ABOUT US////////////////////////////*/
/*Pjesa e img me tekst*/
.section-aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}
.slider-aboutus {
    background: linear-gradient(to right, #ffffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    padding-left: 100px;
}
.text-content {
    width: 50%; 
    padding-left: 50px;
    padding-right: 130px;
}
.text-content h1 {
    font-size: 50px;
    margin-bottom: 40px;
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
}
.text-content p {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}
.aboutus-wrapper {
    width: 370px;
    height: 370px; 
    perspective: 1000px;
}
.img-area {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    animation: animate 16s infinite;
}
.img-area img {
    position: absolute;
    width: 370px;
    height: 370px;
}
.img-area img:nth-child(1) {
    transform: rotateY(0) translateZ(185px); 
}
.img-area img:nth-child(2) {
    transform: rotateY(90deg) translateZ(185px); 
}
.img-area img:nth-child(3) {
    transform: rotateY(-90deg) translateZ(185px); 
}
.img-area img:nth-child(4) {
    transform: rotateY(180deg) translateZ(185px); 
}
@keyframes animate {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
/*Pjesa e fotografive per store*/
.section2-aboutus{
    background-color: black;
    height: 130vh;
    margin-top: 100px;
    text-align: center;
}
.section2-aboutus h1 {
    padding-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 45px;
    font-family: "Dancing Script", cursive;
    text-align: left;
    padding-left: 210px;
}
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.large-image {
    height: 610px; 
    width: 440px;
    margin-right: 10px;
}
.small-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
}
.small-image {
    height: 290px; 
    width: 300px;
    margin-bottom: 30px;
}
.small-image:last-child {
    margin-bottom: 0;
}
.large-image:hover {
    transform: scale(1.1); 
    transition: transform 0.8s ease; 
}
.small-image:hover {
    transform: scale(1.1); 
    transition: transform 0.8s ease; 
}
/*pjesa e fundit tek about us*/
.section3-aboutus{
    height: 100vh;
    padding: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.section3-aboutus h2 {
    color: black;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Dancing Script", cursive;
    font-weight: 600;
}
.section3-aboutus p {
    color: black;
    font-size: 15px;
    padding: 0px 150px;
   
}
.shipping-img {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.shipping-img img {
    max-width: 100%;
    height: 550px;
}
/*//////////////////////PJESA E MAKEUP////////////////////////////*/
/* Pjesa e videos */
.makeupvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1; 
}
.makeupvideo video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.content {
    margin-top: 370vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* Produktet per makeup */
.first-carousel {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 90vh;
    z-index: 1;
  }
.second-carousel{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 160vh;
}  
.third-carousel{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 230vh;
}  
.fourth-carousel{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 300vh;
}  
.makeup {
    max-width: 1600px;
    width: 100%;
    position: relative;
  }
.makeup i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
.makeup i:active {
    transform: translateY(-50%) scale(0.85);
  }
.makeup i:first-child {
    left: 40px;
  }
.makeup i:last-child {
    right: 40px;
  }
.makeup .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 10px 10px;
  }
.carousel::-webkit-scrollbar {
    display: none;
  }
.carousel.no-transition {
    scroll-behavior: auto;
  }
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
.carousel.dragging .makeup-card {
    cursor: grab;
    user-select: none;
  }
.carousel :where(.makeup-card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.carousel .makeup-card {
    scroll-snap-align: start;
    height: 400px;
    list-style: none;
    cursor: pointer;
    flex-direction: column;
    padding: 0; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative; 
    overflow: hidden; 
}    
.carousel .makeup-card .img {
    position: relative; 
}
.carousel .makeup-card .img img {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s ease;
}
.card.makeup-card .img:hover img {
    transform: scale(1.1);
}
.makeup-card .text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: #000; 
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 10px; 
    border-radius: 0 0 10px 10px; 
    width: calc(100% - 20px); 
    transition: background-color 0.3s ease; 
    margin-top: 148px;
  }
  .text-overlay{
    height: 100px;
  }
  .makeup-card:hover .text-overlay {
    background-color: rgba(0, 0, 0, 0.6); 
    color: #fff;
  }
  .carousel .makeup-card h2,
  .carousel .makeup-card span {
    margin: 0; 
    padding: 5px 10px; 
  }
  .carousel .makeup-card h2 {
    font-size: 17px; 
    font-family: "Unbounded", sans-serif;
    font-weight: 450;
  }
  .carousel .makeup-card span {
    font-size: 14px; 
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
  } 
/*//////////////////////PJESA E SKINCARE////////////////////////////*/
/* Për videon */
.skincarevideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1; 
}
.skincarevideo video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/*Forma per kontaktin */
.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 78vh;
}
.image-contact {
    flex: 1;
    height: 100%;
    overflow: hidden;
}
.image-contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactus-form {
    flex: 1;
    margin: 0 100px;
    max-width: 600px;
    padding-top: 20px;
}
.contactus-form h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
}
.contactus-form div {
    margin-bottom: 15px;
}
.contactus-form input,
.contactus-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contactus-form input::placeholder,
.contactus-form textarea::placeholder {
    color: #999;
    opacity: 1; 
    font-family: "Gruppo", sans-serif;
    font-size: 16px;
    font-weight: 800;
}
.contactus-form .btn {
    background-color: black;
    border:  3px solid black;
    outline: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    font-family: "Gruppo", sans-serif;
    font-size: 18px;
    padding: 15px 20px;
    font-weight: bolder;
    border-radius: 5px;
}
.contactus-form .btn:hover {
    background-color: #fff;
    color: #000;
  }
